.aboutContentArea {
    composes: contentCenteringBox from './Theme.css';
    margin-top: 40px;
    height: 700px;
}

.chatBoxContainer {
    composes: solidBlueDarkBorder from './Theme.css';
    composes: borderRadiusSmall from './Theme.css';
    width: 500px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    order: 1;
}
/*upper portion*/
.chatBoxMessages {
    padding: 4px;
    flex: 9;
    overflow-y: auto;
}

.snippet {
    overflow-wrap: break-word;
    margin-bottom: 4px;
}

/*lower portion*/
.chatBoxInput {
    border-top: 6px solid #2138ad;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chatBoxInputButton {
    composes: glowyBoxShadowSmall from './Theme.css';
    composes: borderRadius from './Theme.css';
    padding: 0px 10px 1px 2px;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.chatBoxInputButton:hover{
    background: #65bee8;
    cursor: pointer;
}

.chatBoxInputButton > * {
    vertical-align: middle;
}

/*aside container*/
.skillsAside {
    composes: solidBlueBorderSmall from './Theme.css';
    composes: borderRadiusSmall from './Theme.css';
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: center;
}

.skillsAsideLeft {
    composes: skillsAside;
    margin-right: 5px;
    order: 0;
}

.skillsAsideRight{
    composes: skillsAside;
    margin-left: 5px;
    order: 2;

}

.skillsAside h3 {
    margin-bottom: 6px;
}

.skillAsidePicture {
    composes: picture from './Theme.css';
    margin-top: 12px;
}

.skillTagContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.skillTag {
    composes: solidBlueBorderSmall from './Theme.css';
    composes: borderRadiusSmall from './Theme.css';
    background: hsl(0, 0.3%, 88.6%);
    color: black;
    margin: 2px 4px;
    /*text behaviour*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9em;
    padding: 0 2px;
}

.skillTag:hover {
    overflow: unset;
    transform: scale(1.1);
}
