.yearSlider {
    width: 300px;
}

.contentCenteringBox {
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-flow: row wrap;
}

.filterToolbar{
    margin-top: 20px;
    composes: contentCenteringBox;
}

.contentArea{
    margin-top: 20px;
    composes: contentCenteringBox
}

