.yearSlider {
    width: 300px;
}

.filterToolbar{
    margin-top: 20px;
    composes: contentCenteringBox from './Theme.css';
}

.contentArea{
    margin-top: 20px;
    composes: contentCenteringBox from './Theme.css';
}

