* {
    font-family: Courier New, Courier, monospace;
    color: white;
}

body {
    background: #101010
}

/* Navigation bar*/
.navigation-bar {
    /*flex properties*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*other*/
    background: #131312;
    box-shadow: 0px 0px 5px 3px #75d0d3 ;
    list-style-type: none;
}

.navigation-link {
    border-radius: 10px;
    margin: 0px 5px;
    text-shadow: 0 0 13px #65b6e1;
    padding: 0px 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.navigation-link-active{
    border-left: 2px solid;
    border-right: 2px solid;
    box-shadow: 0px 0px 2px 1px #75d0d3 ;
    border-color: #75d0d3;
}

/*Content area box*/
.content-area {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-short {
    width: 400px;
    height: 300px;
    margin: 10px;
    background: #65bee8;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 0px 5px 1px #75d0d3 ;
    
}
.project-short-inner {
    background: #3d3d3d;
    border-radius: inherit;
    width: 98%;
    height: 98%;
    margin: auto;
    overflow: scroll;
    overflow-x:hidden;
}

.project-short-topinfo {
    width: 100%;
    height: 150px;
}

.project-short-image {
    width: 140px;
    height: 140px;
    margin-top: 12px;
    margin-right: 12px;
    float:right; 
    border-radius: 12px;
    box-shadow: 0px 0px 2px 3px #65bee8;
    
}

.project-short-header {
    float: left;
    width: 210px;
    margin-top: 12px;
    margin-left: 12px;
}

.project-short-subheader {
    font-style: italic;
    margin-left: 12px;
}

.project-short-inner > p {
    margin-left: 12px;
    height: 100px;   
}
